# =========================
# OS / Editor
# =========================
.DS_Store
Thumbs.db

# =========================
# Editor / IDE
# =========================
.vscode/
.idea/

# =========================
# Temporary / Log
# =========================
*.log

# =========================
# Archive files
# =========================
*.zip

# =========================
# Local test / memo files
# =========================
*.txt
